:root {
  --hover-opacity: 0.9;

  --purple-middle: #C271FF;
  --color-white: white;

  --text-weight-regular: 400;
  --text-weight-semi-bold: 600;
  --text-weight-bold: 700;
  --font-family: 'Source Sans Pro', sans-serif;
  --text-style-normal: normal;
  --text-size-small: 12px;
  --text-size-big: 120px;
}

.header-container {
  background: url('./images/pic_1.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 100vw;
  height: 100%;
}
.header-container .image-logo .smile-school {
  width: 120px;
  height: 30px;
}
.header-container .image-logo .smile-face {
  margin-right: 10px;
  width: 35px;
  height: 30px;
}
.header-container .container ul {
  list-style-type: none;
  float: right;
}
.header-container .container ul li a {
  color: var(--color-white);
  text-decoration: none;
  font-family: var(--font-family);
  font-weight: var(--text-weight-bold);
  font-size: var(--text-size-small);
  text-transform: uppercase;
  margin-left: 50px;
}
.header-container .text-container .h1-tag-text {
  font-family: var(--font-family);
  font-weight: var(--text-weight-bold);
  font-style: var(--text-style-normal);
  font-size: 60px;
  color: var(--color-white);
}
.header-container .text-container .ul-content-text li {
  color: var(--color-white);
  font-family: var(--font-family);
  font-style: var(--text-style-normal);
  font-size: 16px;
  text-transform: uppercase;
}
.header-container .text-container .ul-content-text:first-child {
  margin-right: 30px;
}
.header-container .register-button {
  background-color: var(--purple-middle);
  width: 162px;
  height: 44px;
  border-radius: 22px;
  text-transform: uppercase;
  color: var(--color-white);
  font-family: var(--font-family);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  border: var(--purple-middle);
}
.header-container .register-button:hover {
  opacity: var(--hover-opacity);
}
.header-container .cards-container img {
  width: 150px;
  height: 150px;
}
.header-container .cards-container h4 {
  font-family: var(--font-family);
  font-weight: 900;
  font-style: normal;
  font-size: 18px;
  color: var(--color-white);
  margin-top: 4px;
}
.header-container .cards-container h4 b {
  color: var(--purple-middle)
}
.header-container .cards-container p {
  font-family: var(--font-family);
  font-weight: 400;
  font-style: italic;
  font-size: 16px;
  color: var(--color-white);
  margin-top: 3px;
}
@media screen and (max-width: 480px) {
  body > header > nav > nav > div > div.container.nav-search {
    display: none;
  }
    label {
    left: 0;
    position: absolute;
    top: 2%;
  }
  label div {
    width: 2px;
    height: 2px;
    margin-left: 20px;
    border: none;
    background-color: var(--color-white);
    margin-bottom: 4px;
    margin-left: 20px;
  }
  label div:first-child {
    margin-top: 5px;
    width: 18px;
  }
  label div:nth-child(2) {
    width: 12px;
  }
  label div:last-child {
    width: 18px;
    margin-bottom: 0;
  }
  #menu_checkbox:checked + label div:nth-child(2) {
    background: transparent;
  }
  #menu_checkbox:checked + label div:first-child {
    transform-origin: 3px 3px;
    transform: rotate(45deg);
  }
  #menu_checkbox:checked + label div:last-child {
    transform-origin: 0 -2px;
    transform: rotate(-45deg);
  }
  .header-container .nav-search {
    max-width: 357px;
    position: unset;
    transform: unset;
    margin: 10rem auto;
  }
  .header-container .text-container .ul-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
  }
}

/*CAROUSEL SECTION*/
.carousel {
  background-color: var(--purple-middle);
}
.carousel .image-container img {
  width: 150px;
  height: 150px;
}
.carousel .rows-carousel {
  width: 25px;
  height: 40px;
}
.carousel .text-container-carousel .quote-text {
  font-family: var(--font-family);
  font-style: 400;
  font-weight: normal;
  color: var(--color-white);
  font-size: 22px;
  line-height: 34px;
}
.carousel .text-container-carousel .quote-name {
  font-family: var(--font-family);
  font-weight: var(--text-weight-bold);
  color: var(--color-white);
  font-size: 22px;
  line-height: 34px;
}
.carousel .text-container-carousel .quote-job {
  font-family: var(--font-family);
  font-style: italic;
  font-size: 22px;
  line-height: 34px;
  color: var(--color-white);
  margin-top: -22px;
}
.carousel .text-container-carousel .cards-all-container {
  width: 4rem;
}
@media screen and (max-width: 480px) {
  .carousel .all-card-carousel {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .carousel .all-card-carousel .image-container {
    display: flex;
    justify-content: center;
  }
  .carousel .all-card-carousel .text-container-carousel {
    margin-top: 10px;
    margin-left: 30px;
    width: 346px;
    height: 225px;
  }
}

/* Popular videos section */

body > section > div.container.most-popular-text > p {
  font-weight: normal;
  font-style: normal;
  font-size: 32px;
  line-height: 40px;
}
body > section > div.container.most-popular-text > p strong {
  color: var(--purple-middle);
}

.videos-section .card-body img {
  width: 30px;
  height: 30px;
}
.videos-section .stars-container img {
  width: 15px;
  height: 15px;
}
.videos-section .card-body p {
  color: var(--purple-middle);
  font-family: var(--font-family);
  font-weight: 600;
  font-style: normal;
  font-size: 14px;
  line-height: 27px;
}
.videos-section .card-body .card-text {
  color: #071629;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}
.videos-section .card-body h6 {
  font-family: var(--font-family);
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
}
.videos-section .card .card-img-overlay {
  width: 100px;
  height: 100px;
}
.carousel span img {
  width: 30px;
  height: 60px;
}

#carouselExampleControls > button.carousel-control-prev > span.carousel-control-prev-icon > img {
  margin-right: 80px;
}
